@font-face {
    font-family: 'GraduateOrnaments';
    src: url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.eot');
    src: url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.woff2') format('woff2'),
         url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.woff') format('woff'),
         url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.ttf?') format('truetype'),
         url('#{$graduate-font-path}/ornaments/graduate-ornaments_1.01-webfont.svg#GraduateOrnaments') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraduateScript';
    src: url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.eot');
    src: url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.eot?#iefix') format('embedded-opentype'),
     	 url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.woff2')  format('woff2'),
         url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.woff') format('woff'),
         url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.ttf?') format('truetype'),
         url('#{$graduate-font-path}/script/graduate-script_1.01-webfont.svg#GraduateScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
