<nav>
    <ul>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'/'">Home</a>
        </li>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'portfolio'">Portfolio</a>
        </li>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'contact'">Contact</a>
        </li>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'about'">About</a>
        </li>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'blog'">Blog</a>
        </li>
        <li>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="header-link-active" [routerLink]="'edit-portfolio'">Edit</a>
        </li>
    </ul>
</nav>
