<div class="main-content">
    <div class="portfolio-sections">
        <ng-template [ngIf]="categories && categories.length > 0">
            <a href="javascript:;"  [class.section-selected]="!selectedCategory" (click)="selectCategory('')">All</a>
            <ng-template ngFor let-category [ngForOf]="categories" let-i="index">
                <a href="javascript:;"  [class.section-selected]="selectedCategory == category.name" (click)="selectCategory(category)">{{category.name}}</a>
            </ng-template>
        </ng-template>
    </div>

    <mp-image-gallery [category]="selectedCategory"></mp-image-gallery>
</div>

