@font-face {
    font-family: 'TheSecretRegular';
    src: url('fonts/blessed-print/regular/thesecret-regular-webfont.eot');
    src: url('fonts/blessed-print/regular/thesecret-regular-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/blessed-print/regular/thesecret-regular-webfont.woff2') format('woff2'),
         url('fonts/blessed-print/regular/thesecret-regular-webfont.woff') format('woff'),
         url('fonts/blessed-print/regular/thesecret-regular-webfont.ttf?') format('truetype'),
         url('fonts/blessed-print/regular/thesecret-regular-webfont.svg#TheSecretRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSecretSwashes';
    src: url('fonts/blessed-print/swashes/thesecret-swashes-webfont.eot');
    src: url('fonts/blessed-print/swashes/thesecret-swashes-webfont.eot?#iefix') format('embedded-opentype'),
     	 url('fonts/blessed-print/swashes/thesecret-swashes-webfont.woff2')  format('woff2'),
         url('fonts/blessed-print/swashes/thesecret-swashes-webfont.woff') format('woff'),
         url('fonts/blessed-print/swashes/thesecret-swashes-webfont.ttf?') format('truetype'),
         url('fonts/blessed-print/swashes/thesecret-swashes-webfont.svg#gTheSecretSwashes') format('svg');
    font-weight: normal;
    font-style: normal;
}