@font-face {
    font-family: 'FaithAndGloryOne';
    src: url('fonts/faith-glory/FaithAndGloryOne.eot');
    src: url('fonts/faith-glory/FaithAndGloryOne.eot?#iefix') format('embedded-opentype'),
         url('fonts/faith-glory/FaithAndGloryOne.woff') format('woff'),
         url('fonts/faith-glory/FaithAndGloryOne.svg#FaithAndGloryOne') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FaithAndGloryTwo';
    src: url('fonts/faith-glory/FaithAndGloryTwo.eot');
    src: url('fonts/faith-glory/FaithAndGloryTwo.eot?#iefix') format('embedded-opentype'),
         url('fonts/faith-glory/FaithAndGloryTwo.woff') format('woff'),
         url('fonts/faith-glory/FaithAndGloryTwo.svg#FaithAndGloryTwo') format('svg');
    font-weight: normal;
    font-style: normal;
}

