@font-face {
    font-family: 'GraduateOrnaments';
    src: url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.eot');
    src: url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.woff2') format('woff2'),
         url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.woff') format('woff'),
         url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.ttf?') format('truetype'),
         url('fonts/graduate/ornaments/graduate-ornaments_1.01-webfont.svg#GraduateOrnaments') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraduateScript';
    src: url('fonts/graduate/script/graduate-script_1.01-webfont.eot');
    src: url('fonts/graduate/script/graduate-script_1.01-webfonteot?#iefix') format('embedded-opentype'),
     	 url('fonts/graduate/script/graduate-script_1.01-webfont.woff2')  format('woff2'),
         url('fonts/graduate/script/graduate-script_1.01-webfont.woff') format('woff'),
         url('fonts/graduate/script/graduate-script_1.01-webfont.ttf?') format('truetype'),
         url('fonts/graduate/script/graduate-script_1.01-webfont.svg#GraduateScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

