@font-face {
    font-family: 'Hunterswood';
    src: url('fonts/hunterswood/hunterswood-regular-webfont.eot');
    src: url('fonts/hunterswood/hunterswood-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/hunterswood/hunterswood-regular-webfont.woff2')  format('woff2'),
    url('fonts/hunterswood/hunterswood-regular-webfont.woff') format('woff'),
    url('fonts/hunterswood/hunterswood-regular-webfont.ttf?') format('truetype'),
    url('fonts/hunterswood/hunterswood-regular-webfont.svg#Hunterswood') format('svg');
    font-weight: normal;
    font-style: normal;
}