@font-face {
    font-family: 'Stringbeans';
    src: url('fonts/stringbeans/stringbeans-regular-webfont.eot');
    src: url('fonts/stringbeans/stringbeans-regular-webfont.eot?#iefix') format('embedded-opentype'),
 		 url('fonts/stringbeans/stringbeans-regular-webfont.woff2')  format('woff2'),
         url('fonts/stringbeans/stringbeans-regular-webfont.woff') format('woff'),
         url('fonts/stringbeans/stringbeans-regular-webfont.ttf?') format('truetype'),
         url('fonts/stringbeans/stringbeans-regular-webfont.svg#Stringbeans') format('svg');
    font-weight: normal;
    font-style: normal;
}
