<mp-top-navigation *ngIf="mobileView" [class.nav-on]="navOn" class="mobile" (click)="navOn = false"></mp-top-navigation>
<div class="wrapper" [class.nav-on]="navOn">
    <div *ngIf="mobileView" class="menu-mask" (click)="navOn = false"></div>
    <div class="header">
        <div class="container-fluid">
            <div>
                    <div class="nav-menu visible-sm-inline-block visible-xs-inline-block">
                        <span class="nav-menu-icon" [class.menu-on]="navOn" (click)="navOn = !navOn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="logo">
                        <a [routerLink]="'/'"><h1>My Portfolio</h1></a>
                    </div>
            </div>
            <div class="row" *ngIf="!mobileView">
                <div class="col-md-12">
                    <mp-top-navigation></mp-top-navigation>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="footer text-center">
        <section>
            <span class="">© {{settings.siteName}} 2017</span>
        </section>

        <section>
            <ul class="footer-social" *ngIf="settings && settings.social">
                <li *ngIf="settings.social.facebook"><a [href]="'https://www.facebook.com/'+settings.social.facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li *ngIf="settings.social.twitter"><a [href]="'https://twitter.com/'+settings.social.twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li *ngIf="settings.social.instagram"><a [href]="'https://www.instagram.com/'+settings.social.instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li *ngIf="settings.social.pinterest"><a [href]="'https://uk.pinterest.com'+settings.social.pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li *ngIf="settings.social.dribbble"><a [href]="'https://dribbble.com/'+settings.social.dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li *ngIf="settings.social.behance"><a [href]="'https://www.behance.net/'+settings.social.behance" target="_blank"><i class="fa fa-behance"></i></a></li>
            </ul>
        </section>

    </div>
</div>
