<mp-top-navigation *ngIf="mobileView" [class.nav-on]="navOn" class="mobile" (click)="navOn = false"></mp-top-navigation>
<div class="wrapper" [class.nav-on]="navOn">
    <div *ngIf="mobileView" class="menu-mask" (click)="navOn = false"></div>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="nav-menu visible-sm-inline-block visible-xs-inline-block">
                        <span class="nav-menu-icon fa fa-bars" (click)="navOn = !navOn"></span>
                    </div>

                    <div class="logo">
                        <h1>My Portfolio</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mp-top-navigation *ngIf="!mobileView"></mp-top-navigation>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <router-outlet></router-outlet>

    </div>
    <div class="footer text-center">
        <section>
            <span class="">© My Portfolio</span>
        </section>

        <section>
            <ul class="footer-social">
                <li><a href="javascript:;" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-behance"></i></a></li>
            </ul>
        </section>

    </div>
</div>
