


<div class="content-wrapper">
    <div class="content" style="">

        <div class="jumbotron">
            <div class="jumbotron-wrap">
                <h2>Forbidden</h2>
                <p>
                    You have no permissions to access this page
                </p>
                <div class="jumbotron-bottom-button">
                    <a class="btn btn-primary btn-lg" href="javascript:;" [routerLink]="['/']" role="button">Go back home</a>
                </div>
            </div>
        </div>

    </div>
</div>