<div class="main-content">

    <div></div>
    <mp-file-upload [accept]="'image/*'"
                    [showFileName]="true" [multiple]="true" [dragAndDrop]="true"
                    [dropElementSelector]="'.main-content'"
                    [showPreview]="true" [buttonText]="'Add Images +'" (fileSelected)="setFile($event)" >

    </mp-file-upload>

    <div class="uploaded-files" >
        <template ngFor let-file [ngForOf]="files" let-i="index">
            <div class="uploaded-file">
                <span class="remove-uploaded-file" (click)="removeFile(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
                <mp-loading *ngIf="file.isLoading"></mp-loading>
                <div class="uploaded-file-image-wrapper">
                    <div class="uploaded-file-image">
                        <!--<img [attr.src]='file.files[0].previewURL' >-->
                        <canvas class="uploaded-file-image-canvas uploaded-file-image-canvas-{{i}}"></canvas>
                    </div>
                    <div class="uploaded-file-image-meta">

                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="file.data.name" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="file.data.description" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="file.data.description"> Show in home
                        </label>
                    </div>
                    <button type="button" class="btn btn-default" (click)="saveFile(file)">Submit</button>
                </div>

                <div class="uploaded-file-progress">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="files.uploadStatus.percentage+'%'">
                            <span>{{files.uploadStatus.percentage}}% </span>
                        </div>
                    </div>
                </div>

            </div>
        </template>
        <div class="clearfix"></div>
    </div>
</div>






